<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NLP App</title>
</head>
<body>
    <header>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Article Analysi</h1>
        </section>

        <section class="form-section">
            <form id="form" class="form">
                <p>Welcome to our article analysis tool. Please enter the URL of the article you'd like to analyze below:</p> <br>
                <fieldset>
                    <label for="url">Enter URL:</label>
                    <input id="url" type="text" name="input" value="" placeholder="URL">
                </fieldset>
                <button id="submit-btn" type="submit" name="submit">Analyze</button>
            </form>
        </section>

        <section class="results-section">
            <h2>Results:</h2>
            <div id="irony" class="irony"></div>
            <div id="subjectivity" class="subjectivity"></div>
            <div id="confidence" class="confidence"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 - NLP App</p>
    </footer>

    
</body>
</html>
