body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
